body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  position: absolute;
  flex: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.app-header {
  position: fixed;
  display: flex;
  background-color: #c41334;
  flex: 1;
  top: 0;
  left: 0;
  right: 0px;
  height: 40px;
  padding: 5px;
  justify-content: stretch;
  align-items: center;
  color: #fff;
}
.app-header img {
  height: 40px;
}
.app-header .app-title {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  margin: 0px;
  font-size: 1.7em;
}

.content {
  display: flex;
  flex: 1;
  margin-top: 50px;
  background: #e1e1e1;
  flex-direction: column;
}

.table-container {
  display: flex;
  overflow: auto;
  flex: 1;
  margin: 10px;
}

.table-container table {
  text-align: center;
  position: relative;
  border-collapse: collapse;
  flex: 1;
  width: 100%;
}

table tr td, th {
  padding: 5px;
}

table tbody tr:nth-child(odd) {
  background-color: #a7a7a7;
}

table thead th {
  position: sticky;
  top: 0;
  text-transform: uppercase;
  background-color: #e1e1e1;
}

.btn {
  text-transform: capitalize;
  padding: 5px;
  font-size: 1em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  background: #c41334;
  border: none;
  box-shadow: 1px 1px 0px rgba(196, 19, 52, 1);
  outline: none;
  margin: 5px;
}

.btn:hover,
.btn:focus .btn:active,
.btn.active,
.btn.selected {
  background-color: #fd6984;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #f7f7f7;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.1);
}

input {
  padding: 2px;
}
.emp-input {
  display: flex;
  justify-content: space-between;
}

.actions {
  cursor: pointer;
}
